@font-face {
	@import url('../fonts/Open_Sans/OpenSans-Regular.ttf');
	@import url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
	@import url('../fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf');
	@import url('../fonts/Open_Sans/OpenSans-Bold.ttf');
	@import url('../fonts/Open_Sans/OpenSans-BoldItalic.ttf');
	@import url('../fonts/Open_Sans/OpenSans-ExtraBold.ttf');
	@import url('../fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf');
	@import url('../fonts/Open_Sans/OpenSans-Italic.ttf');
	@import url('../fonts/Open_Sans/OpenSans-Light.ttf');
	@import url('../fonts/Open_Sans/OpenSans-LightItalic.ttf');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2e343a;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.title-primary {
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 25px 10px;
}

.sub-title {
	font-size: 1.5rem;
	color: rgba(255, 255, 255, 0.7);
	user-select: none;
}

.sub-title .dev {
	background-color: #e9db1f;
	color: rgba(0, 0, 0, 0.7);
	width: 10px;
	height: 10px;
	border-radius: 10%;
	margin-left: 5px;
	padding: .3rem;
}

.container {
	margin-top: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: stretch;
	align-items: stretch;
	flex-shrink: 1;
	flex-basis: 0;
	height: 350px;
	padding: 0 10px;
}

.container > div {
	margin: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
	background-color: rgba(255, 255, 255, 0.05);
	text-align: left;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	justify-content: space-between;
}

img {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	margin: 1rem;
}

a {
	text-decoration: none;
}

.btn {
	width: 100px;
	height: 40px;
	margin: 0 auto;
	outline: none;
	border-radius: 8px;
	border: none;
	color: #fff;
	background-color: #2e343a;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.75);
}

.btn:hover {
	background-color: transparent;
}

.btn.btn-exec {
	background-color: #0073b1;
}

.btn.btn-exec:hover {
	background-color: rgba(0, 115, 177, .6);
}


.about {
	margin: 1rem;
}

.name {
	font-size: 1.75rem;
	color: rgba(255, 255, 255, 0.75);
}

.occupation {
	font-size: .75rem;
	color: rgba(255, 255, 255, 0.3);
	text-transform: uppercase;
}

.social {
	margin: .5rem auto;
}

.social ion-icon {
	color: rgba(0, 0, 0, 0.5);
	padding: .25rem .75rem;
	font-size: 32px;
}

#github {
	color: #000;
}

#twitter {
	color: #1da1f2;
}

#discord {
	color: #7289DA;
}

#linkedin {
	color: #0073b1;
}

.modal-container {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-container.show {
	display: flex;
}

.modal-content {
	position: relative;
	background-color: #2e343a;
	width: 60%;
	min-width: 300px;
	max-width: 720px;
	color: #fff;
	border-radius: 10px;
	border: 2px solid rgba(255, 255, 255, 0.75);
	box-shadow: 0px 0px 4px 2px #000;
}

.modal-title {
	width: 100%;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
	text-align: center;
}

.modal-body {
	width: 100%;
	padding: 20px 10px;
	text-align: justify;
	display: flex;
	flex-direction: row;
}

.modal-footer {
	width: 100%;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
	text-align: right;
}

.close {
	position: absolute;
	top: -40px;
	right: -40px;
	border: none;
	background-color: transparent;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

.close ion-icon {
	font-size: 3em;
	color: #fff;
}

@keyframes show-modal {
	from {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.modal-container.show .modal-content {
	animation: show-modal 1s;
}

.result {
	width: 50%;
	height: 50px;
	border: 2px solid rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	margin-right: 5px;
	background-color: rgba(0,0,0,.2);
}

.form {
	width: 50%;
	margin: auto;
}

.form-input {
	width: 50%;
	height: 40px;
	background-color: #2e343a;
	border: 2px solid rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	color: #fff;
	outline: none;
	font-size: 1em;
	padding: .5em;
}

.form-select {
	width: 48%;
	height: 40px;
	background-color: #2e343a;
	border: 2px solid rgba(255, 255, 255, 0.75);
	border-radius: 5px;
	color: #fff;
	outline: none;
	font-size: 1em;
	padding: .5em;
	appearance: none;
	cursor: pointer;
	background-color: transparent;
}
